@font-face {
    font-family: 'BM HANNA';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-HANNA.eot');
    src: url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-HANNA.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-HANNA.woff') format('woff'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-HANNA.svg#BM-HANNA') format('svg'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-HANNA.ttf') format('truetype');
}
