@font-face {
    font-family: 'NanumBarunGothicBold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/NanumBarunGothicBold.eot');
    src: url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/NanumBarunGothicBold.woff') format('woff'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/NanumBarunGothicBold.ttf') format('truetype');
}
